%div{'data-role' => 'page'}
  %div{'data-role' => 'header'}
    %h1 
      - if logged?
        %a{:href => '/logout', :rel => 'external'} Take me out from here

      - else
        %a{:href => '/login', :rel => 'external'} Login with foursquare

  - if logged?
    %div{'data-role' => 'content'}
      %ul{'data-role' => "listview", 'data-theme' => "g"}
        %li
          %a{:href => "/places", :rel => 'external'} Places
        %li
          %a{:href => "/reviews", :rel => 'external'} Reviews
        %li
          %a{:href => "/checkins", :rel => 'external'} Checkins
