%div{'data-role' => 'page'}
  %div{'data-role' => 'header'}
    %h1
      Places Near
  %div{'data-role' => 'content'}
    %ul{'data-role' => "listview", 'data-inset' => "true"}
      - @places.each do |place|
        %li
          %a{:href => "/places/show/#{place.id}"}
            %div{:style => 'float:left'}
              %b
                = place.name.to_s
              %br
              = place.address
            %div{:style => 'float:left'}
              %div{:class => 'star-rating'}
                %div{:class => 'current-rating', :style => "width:#{place.rating_in_pixel('review_avg')}px"}
          
          